---
import AboutUs from "../components/AboutUs.astro";
import Hero from "../components/Hero.astro";
import Portfolio from "../components/Portfolio.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Poterie par Kathy | Poterie fabriquée à la main à Montréal, Québec"
>
  <main>
    <Hero />
    <hr />
    <AboutUs />
    <hr />
    <Portfolio />
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    max-width: 1920px;
  }
</style>
