---
import PostFilters from "./PostFilters.astro";
import PostList from "./PostList.astro";
---

<article>
  <h2>Portfolio</h2>
  <p>
    Nam consectetur ex non mi accumsan finibus eu finibus dui. Nullam consequat
    erat id risus auctor dapibus. Etiam non dui cursus, lacinia diam sit amet,
    ultrices nisl.
  </p>
  <PostFilters />
</article>
<PostList />
