---
import filters from "../../data/instagram/filters.json";
---

<div class="posts-filters">
  Filtrer :
  {
    filters.map((filter, index) => (
      <button
        class={index === 0 ? "active" : ""}
        type="button"
        data-filter={filter.filter}
      >
        {filter.label}
      </button>
    ))
  }
</div>

<style>
  .posts-filters {
    margin: 1rem 0;
  }
  button {
    border: 3px solid black;
    border-radius: 100px;
    background: none;
    color: inherit;
    padding: 0.5rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0 0.25rem;
  }
  button:hover,
  button:focus,
  button.active {
    background: var(--primary);
  }
</style>

<script is:inline>
  const BUTTONS = "button[data-filter]";
  const POSTS = ".posts > a";

  document.querySelectorAll(BUTTONS).forEach((buttonNode) => {
    buttonNode.addEventListener("click", (event) => {
      event.preventDefault();
      const filters = event.currentTarget
        .getAttribute("data-filter")
        .split(",");

      document
        .querySelector("button[data-filter].active")
        .classList.remove("active");
      event.currentTarget.classList.add("active");

      if (filters.length > 0 && filters[0] !== "") {
        document.querySelectorAll(POSTS).forEach((postNode) => {
          const caption = postNode.querySelector("img").getAttribute("alt");
          const filtersMatched = filters.some((filter) =>
            caption.includes(filter)
          );
          filtersMatched
            ? postNode.removeAttribute("hidden")
            : postNode.setAttribute("hidden", "");
        });
      } else {
        document
          .querySelectorAll(POSTS)
          .forEach((postNode) => postNode.removeAttribute("hidden"));
      }
    });
  });
</script>
